body, html {
  height: 100%;
  background-color: #f5f4ef;
}

.about-alma-div {
  text-align: center;
  display: block;
  margin-top: 60px;
  padding-bottom: 60px;
}


.about-alma-p {
    height: 500px;
    background-color: #f5f4ef;
    z-index: -1;
    font-size: xx-large;
  }

  #background-1 {
    background-image: url(/home/ickus/Development/code/alma/alma-app/src/images/apple_tree.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }