body, html {
  height: 100%;
  background-color: #f5f4ef;
  background-size: cover;
  font-family: tribute;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 2.5em;
  text-transform: none;
}

.about-alma-div {
  text-align: center;
  display: block;
  margin-top: 60px;
  padding-bottom: 60px;
  border-bottom: #b12f31;
  border-bottom-width: 3px;
  border-bottom-style: double;
}


.about-alma-p {
   height: fit-content;
    z-index: -1;
    font-size: 20px;
    background-color: #f5f4ef80;
    line-height: 30px;
    font: sans-serif;
  }

  #background-1 {
    background-image: url(./images/apple_tree.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #background-2 {
    background-image: url(./images/apple_tree6.jpg);
    height: 300px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #background-3 {
    background-image: url(./images/pear2.jpg);
    height: 300px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  #background-4 {
    background-image: url(./images/dave3.jpg);
    height: 400px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  #background-5 {
    background-image: url(./images/apple_tree3.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #home {
    padding-top: auto;
    background-image: url(./images/apple_tree7.jpg);
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .services-p {
    height: fit-content;
    background-color: #eeede883;
    z-index: -1;
    text-align: center;
    font-size: 20px;
    align-self: start;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    
    display: flex;
    line-height: 30px;
    font: sans-serif;

  }

  #services-h1{
    text-align: center;
    font-style: oblique;
  }




  #services-background1 {
    
    background-image: url(./images/stem2.jpg);
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  #services-background2 {
    
    background-image: url(./images/stem7.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  #services-background3 {
    background-image: url(./images/stem.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  


#services-background4 {
    background-image: url(./images/stem3.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .navbar{
  text-align: center;
  background-color: #333333;
  }

  #nav-links{
    margin: 1em;
    padding: 1em 0;
    display: inline;
    vertical-align: middle;
    font-family: trade-gothic-next-compressed;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .1em;
    text-transform: uppercase;
    align-self: auto;
    flex-wrap: wrap;
    max-width: inherit;
  }

  a{
    border-bottom: none;
    align-content: center;
    padding: 2%;
    text-align: center;
    color: #b12f31;
  }

  
a:link { 
  text-decoration: none;
 }
a:visited { 
  text-decoration: none;
 }
a:hover { 
  background-color: rgba(167, 168, 95, 0.11);
  text-emphasis: bold;
  font-size: 15px; 
  color: rgb(203,153,64);
  border-radius: 15%;
}

a:active { 
  text-decoration: none; 
}

#footer{
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 100px;
  line-height: normal;
}

#main-logo-image{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: 80%;
}

#main-logo-div{
  visibility: hidden;
}

#banner-logo{
  display: flex;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}


#social-media{
  padding: 10px;

}

.cider-list{
 line-height: 1;
 max-width: 500px;
}

#ciders-component h3{
  text-align: center;
  text-decoration: underline;
}

.flavors{
  font-style: italic;
  font-size: smaller;
}


#award1{
  background-image: url(./images/award2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100px;
  max-height: 100px;
}

#award2{
  background-image: url(./images/award3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100px;
  max-height: 100px;
}

#award3{
  background-image: url(./images/award4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100px;
  max-height: 100px;
}

#award4{
  background-image: url(./images/award5.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100px;
  max-height: 100px;
}

#award5{
  background-image: url(./images/award6.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100px;
  max-height: 100px;
}

#award6{
  background-image: url(./images/award7.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100px;
  max-height: 100px;
}


b :hover{
  font-weight: bolder;
  color: #b12f31;
  cursor: cell;
}

.about-alma-div h2{
  color: #b12f31;
 text-transform: uppercase;
  
}

.about-alma-div h2:hover{
  cursor: help;
  color: white;
  box-shadow: #b12f31;
  background-color: #b12f31;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#awards-images img{
  max-width: 300px;
  max-height: 300px;
}

.cider-award.gold:hover{
  color: goldenrod;
}

.cider-award.silver:hover{
  color:gray;
}

.cider-award.bronze:hover{
  color: rosybrown;
}



.cider-award.best:hover{
  color: darkblue;
}

.cider-award.platinum:hover{
  color: silver;
}

#glintcap{
  color: black;
  
}

#bs-logo{
  display: flex;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;

}

.cider-award {
  font-size: small;
  margin-left: 20px;
}

.cider-name{
  text-transform: uppercase;
}

.cider-name:hover{
  color: white;
  box-shadow: #b12f31;
  background-color: #b12f31;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}



#home-bottom-div{
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: #b12f31;
  border-bottom-width: 3px;
  border-bottom-style: double;
}

.icons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon{
  background-color: white;
  border-radius: 40%;
  margin-left: 10px;
  margin-right: 10px;

}

#associations-div{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 30px;
}

.asso-img{
  max-width: 80px;
  max-height: 80px;
  padding-top: 20px;
  padding-bottom: auto;
}

#ACA{
  max-width: 170px;

}

#contact-us{
  margin-bottom: 10px;
}

#footer h4{
  color: #ffffff;
  background-color: #333333;
  max-width: fit-content;
  display: inline-block;
  padding: 5px;
}


.cider-list-items{
  border-bottom: #b12f31;
  border-bottom-width: 3px;
  border-bottom-style: double;
  padding-left: 10px;
}
